In [1]:
import pandas as pd

plogs = pd.read_csv('plogs.csv')
pdets = pd.read_csv('pdets.csv')

print("---- plogs.csv ----")
print(plogs.shape)
print(plogs.head())
print(plogs.nunique())
print(plogs.isnull().sum())

print("\n---- pdets.csv ----")
print(pdets.shape)
print(pdets.head())
print(pdets.nunique())
print(pdets.isnull().sum())

print("\nNumerical Description (plogs)")
print(plogs.describe())

print("\nNumerical Description (pdets)")
print(pdets.describe())

categorical_plogs = plogs.select_dtypes(include=['object', 'category']).columns
print("\nCategorical Description (plogs)")
print(plogs[categorical_plogs].describe())

categorical_pdets = pdets.select_dtypes(include=['object', 'category']).columns
print("\nCategorical Description (pdets)")
print(pdets[categorical_pdets].describe())

IMP_PLOGS_FIELDS = ['problem_id', 'student_id', 'assignment_id', 'problem_completed', 'correct']
IMP_PDETS_FIELDS = ['problem_id', 'problem_type', 'content_source', 'skills']

print("\n-- plogs important field value counts --")
for col in IMP_PLOGS_FIELDS:
    print(f"Value counts for {col}:")
    print(plogs[col].value_counts(dropna=False).head(10))  # top 10

print("\n-- pdets important field value counts --")
for col in IMP_PDETS_FIELDS:
    print(f"Value counts for {col}:")
    print(pdets[col].value_counts(dropna=False).head(10))  # top 10

merged = pd.merge(
    plogs,
    pdets,
    how='left',
    on='problem_id'
)
print("\nMerged shape:", merged.shape)
print(merged.head())

missing_metadata_count = merged['content_source'].isnull().sum()
print(f"Logs with no matching problem metadata: {missing_metadata_count}")

merged.to_csv('plogs_with_metadata.csv', index=False)
print("Saved merged file as plogs_with_metadata.csv")

---- plogs.csv ----
(17476374, 12)
    log_id  student_id  assignment_id  problem_id  \
0  8931626      558286         818971     1423359
1  8931626      558286         818971     1423360
2  8931626      558286         818971     1423361
3  8931626      558286         818971     1423362
4  8931626      558286         818971     1423363

                         start_time  time_on_task answer_before_tutoring  \
0  2020-11-01 01:04:22.133000-05:00       374.106                   True
1  2020-11-01 01:10:37.108000-05:00        13.073                   True
2  2020-11-01 01:10:51.303000-05:00        11.239                   True
3  2020-11-01 01:11:03.950000-05:00        11.224                   True
4  2020-11-01 01:11:15.952000-05:00        13.118                   True

   fraction_of_hints_used  attempt_count  answer_given  problem_completed  \
0                     0.0              1         False               True
1                     0.0              1         False               True
2                     0.0              1         False               True
3                     0.0              1         False               True
4                     0.0              1         False               True

  correct
0    True
1    True
2    True
3    True
4    True
log_id                     2272684
student_id                  251851
assignment_id               190823
problem_id                  113263
start_time                17401335
time_on_task               1124257
answer_before_tutoring           2
fraction_of_hints_used           8
attempt_count                  117
answer_given                     2
problem_completed                2
correct                          2
dtype: int64
log_id                          0
student_id                      0
assignment_id                   0
problem_id                      0
start_time                      0
time_on_task               311345
answer_before_tutoring     283759
fraction_of_hints_used    8925835
attempt_count                   0
answer_given                    0
problem_completed               0
correct                   4732693
dtype: int64

---- pdets.csv ----
(113263, 8)
   problem_id         content_source          skills  \
0        33.0  ['Certified Content']  ['8.NS.A.2-1']
1        35.0  ['Certified Content']  ['8.NS.A.2-1']
2        37.0  ['Certified Content']  ['8.NS.A.2-1']
3        39.0  ['Certified Content']  ['8.NS.A.2-1']
4       117.0  ['Certified Content']  ['8.NS.A.2-1']

                   problem_type tutoring_types  student_answer_count  \
0               Multiple Choice       ['Hint']                     4
1  Exact Match (case sensitive)       ['Hint']                     3
2  Exact Match (case sensitive)       ['Hint']                     2
3               Multiple Choice       ['Hint']                     2
4               Multiple Choice   ['Scaffold']                    71

   mean_correct  mean_time_on_task
0      0.750000                NaN
1      0.333333                NaN
2      1.000000                NaN
3      1.000000                NaN
4      0.816901          38.307254
problem_id              112976
content_source              15
skills                     946
problem_type                11
tutoring_types               7
student_answer_count      2339
mean_correct             16761
mean_time_on_task       107484
dtype: int64
problem_id                287
content_source              0
skills                  62070
problem_type              287
tutoring_types          48765
student_answer_count        0
mean_correct            25795
mean_time_on_task        5129
dtype: int64

Numerical Description (plogs)
             log_id    student_id  assignment_id    problem_id  time_on_task  \
count  1.747637e+07  1.747637e+07   1.747637e+07  1.747637e+07  1.716503e+07
mean   1.087847e+07  6.187052e+05   9.693637e+05  1.453327e+06  1.269085e+02
std    1.114563e+06  2.197298e+05   9.274393e+04  2.792069e+05  3.049986e+02
min    8.931626e+06  1.240000e+02   3.606150e+05  3.300000e+01  1.000000e-03
25%    9.910027e+06  4.871440e+05   8.910170e+05  1.297128e+06  1.303700e+01
50%    1.087856e+07  6.310830e+05   9.700260e+05  1.489305e+06  3.636000e+01
75%    1.184102e+07  7.896660e+05   1.048369e+06  1.600508e+06  1.075960e+02
max    1.307271e+07  9.799340e+05   1.138108e+06  1.934741e+06  1.476716e+04

       fraction_of_hints_used  attempt_count
count            8.550539e+06   1.747637e+07
mean             2.002751e-02   1.315501e+00
std              2.100712e-01   1.000107e+00
min              0.000000e+00   0.000000e+00
25%              0.000000e+00   1.000000e+00
50%              0.000000e+00   1.000000e+00
75%              0.000000e+00   1.000000e+00
max              7.000000e+00   4.220000e+02

Numerical Description (pdets)
         problem_id  student_answer_count  mean_correct  mean_time_on_task
count  1.129760e+05         113263.000000  87468.000000      108134.000000
mean   1.225137e+06            154.299056      0.650091         126.636961
std    5.512198e+05            327.500117      0.274295         146.280216
min    3.300000e+01              1.000000      0.000000           0.003000
25%    9.034965e+05              8.000000      0.500000          40.695599
50%    1.386594e+06             28.000000      0.694915          86.739756
75%    1.629097e+06            120.000000      0.863636         163.878686
max    1.934741e+06           4100.000000      1.000000        3903.199000

Categorical Description (plogs)
                              start_time answer_before_tutoring   correct
count                           17476374               17192615  12743681
unique                          17401335                      2         2
top     2020-11-10 12:56:28.528000-05:00                   True      True
freq                                   3               16311220   8449108

Categorical Description (pdets)
             content_source           skills          problem_type  \
count                113263            51193                112976
unique                   15              946                    11
top     ['Engage New York']  ['7.EE.B.4a-1']  Algebraic Expression
freq                  33742             1193                 27640

       tutoring_types
count           64498
unique              7
top          ['Hint']
freq            46797

-- plogs important field value counts --
Value counts for problem_id:
problem_id
1506254    4100
1506259    4018
1506260    4006
1506614    3988
1506694    3752
1506615    3748
1506644    3733
1506255    3656
1226748    3538
1506242    3510
Name: count, dtype: int64
Value counts for student_id:
student_id
714839    1713
747389    1695
375361    1667
228916    1662
828669    1628
828675    1593
825124    1587
401210    1582
691441    1580
828717    1546
Name: count, dtype: int64
Value counts for assignment_id:
assignment_id
1115706    2134
838302     2071
990876     2015
990875     1978
930464     1922
1035966    1910
1009202    1864
1036052    1821
1027286    1766
836043     1759
Name: count, dtype: int64
Value counts for problem_completed:
problem_completed
True     17144848
False      331526
Name: count, dtype: int64
Value counts for correct:
correct
True     8449108
NaN      4732693
False    4294573
Name: count, dtype: int64

-- pdets important field value counts --
Value counts for problem_id:
problem_id
NaN          287
33.0           1
1099018.0      1
1099328.0      1
1099325.0      1
1099324.0      1
1099323.0      1
1099322.0      1
1099321.0      1
1099319.0      1
Name: count, dtype: int64
Value counts for problem_type:
problem_type
Algebraic Expression            27640
Number                          25675
Ungraded Open Response          25565
Multiple Choice                 20366
Exact Match (case sensitive)     7269
Exact Match (ignore case)        3239
Check All That Apply             1642
Exact Fraction                    745
Numeric Expression                582
NaN                               287
Name: count, dtype: int64
Value counts for content_source:
content_source
['Engage New York']                                  33742
['Skill Builder']                                    26041
['Textbook Content']                                 17758
['Undetermined']                                     13010
['Illustrative Mathematics', 'Open Up Resources']     9818
['Illustrative Mathematics']                          6447
['Certified Content']                                 2483
['Utah Math']                                         1928
['Open Up Resources']                                  690
['Eureka Math']                                        681
Name: count, dtype: int64
Value counts for skills:
skills
NaN                62070
['7.EE.B.4a-1']     1193
['8.EE.C.7b']        883
['6.NS.A.1']         870
['7.RP.A.3']         766
['7.G.A.1']          739
['7.EE.A.1']         711
['6.RP.A.3b']        681
['7.RP.A.2a']        671
['6.RP.A.3c-1']      641
Name: count, dtype: int64

Merged shape: (17476374, 19)
    log_id  student_id  assignment_id  problem_id  \
0  8931626      558286         818971     1423359
1  8931626      558286         818971     1423360
2  8931626      558286         818971     1423361
3  8931626      558286         818971     1423362
4  8931626      558286         818971     1423363

                         start_time  time_on_task answer_before_tutoring  \
0  2020-11-01 01:04:22.133000-05:00       374.106                   True
1  2020-11-01 01:10:37.108000-05:00        13.073                   True
2  2020-11-01 01:10:51.303000-05:00        11.239                   True
3  2020-11-01 01:11:03.950000-05:00        11.224                   True
4  2020-11-01 01:11:15.952000-05:00        13.118                   True

   fraction_of_hints_used  attempt_count  answer_given  problem_completed  \
0                     0.0              1         False               True
1                     0.0              1         False               True
2                     0.0              1         False               True
3                     0.0              1         False               True
4                     0.0              1         False               True

  correct       content_source                      skills problem_type  \
0    True  ['Engage New York']               ['7.RP.A.2b']       Number
1    True  ['Engage New York']  ['6.RP.A.3b', '7.RP.A.2c']       Number
2    True  ['Engage New York']               ['7.RP.A.2b']       Number
3    True  ['Engage New York']  ['7.RP.A.2a', '7.RP.A.2c']       Number
4    True  ['Engage New York']               ['7.RP.A.2b']       Number

            tutoring_types  student_answer_count  mean_correct  \
0  ['Explanation', 'Hint']                 576.0      0.604478
1  ['Explanation', 'Hint']                 462.0      0.787746
2  ['Explanation', 'Hint']                 436.0      0.647465
3  ['Explanation', 'Hint']                 431.0      0.762353
4  ['Explanation', 'Hint']                 404.0      0.611940

   mean_time_on_task
0         277.581396
1         120.445969
2         104.151620
3         102.486845
4          80.501440
Logs with no matching problem metadata: 19860
Saved merged file as plogs_with_metadata.csv

In [11]:
import pandas as pd
import ast

def explode_skills(df):
    """
    Takes a DataFrame with a 'skills' column (list as string) and returns the DataFrame exploded on this column.
    """
    df = df.copy()
    df = df[df['skills'].notnull()]
    df['skills_list'] = df['skills'].apply(lambda x: ast.literal_eval(x) if isinstance(x,str) else [])
    exploded = df.explode('skills_list')
    exploded = exploded.rename(columns={'skills_list': 'skill'})
    return exploded

def skill_summary(df):
    """
    Summary per skill: attempts, unique students, mean correctness.
    """
    ex = explode_skills(df)
    skill_grp = ex.groupby('skill').agg(
        n_attempts = pd.NamedAgg(column='problem_id', aggfunc='count'),
        n_students = pd.NamedAgg(column='student_id', aggfunc=lambda x: x.nunique()),
        mean_correct = pd.NamedAgg(column='correct', aggfunc='mean')
    ).reset_index()
    return skill_grp.sort_values('n_attempts', ascending=False)

def student_skill_matrix(df, min_attempts=5):
    """
    For each student and skill: attempts and mean correctness. Filters to at least min_attempts (default=5).
    """
    ex = explode_skills(df)
    grouped = ex.groupby(['student_id','skill']).agg(
        n_attempts = pd.NamedAgg(column='problem_id', aggfunc='count'),
        mean_correct = pd.NamedAgg(column='correct', aggfunc='mean')
    ).reset_index()
    return grouped[grouped['n_attempts'] >= min_attempts]

def problem_difficulty_table(df, min_attempts=20):
    """
    For each problem: attempts, mean correctness, skill, content_source, type. Filters to at least min_attempts.
    """
    tbl = df.groupby('problem_id').agg(
        n_attempts = pd.NamedAgg(column='student_id', aggfunc='count'),
        mean_correct = pd.NamedAgg(column='correct', aggfunc='mean'),
        skill = pd.NamedAgg(column='skills', aggfunc='first'),
        source = pd.NamedAgg(column='content_source', aggfunc='first'),
        problem_type = pd.NamedAgg(column='problem_type', aggfunc='first')
    ).reset_index()
    return tbl[tbl['n_attempts']>=min_attempts].sort_values('mean_correct')

def content_source_distribution(df):
    """
    Simple value count of attempts per content_source.
    """
    return df['content_source'].value_counts().reset_index(name='n_attempts').rename(columns={'index': 'content_source'})

In [3]:
merged = pd.read_csv('plogs_with_metadata.csv')

In [8]:
merged['correct'].value_counts(dropna=False)

correct
True     8449108
NaN      4732693
False    4294573
Name: count, dtype: int64

In [10]:
skill_dist = skill_summary(merged)
skill_dist.head(10)

           skill  n_attempts  n_students mean_correct
258    7.RP.A.2a      386593       29472     0.624084
198    6.RP.A.3b      368498       19577     0.612861
262     7.RP.A.3      352508       21870     0.550095
176     6.NS.A.1      336854       14777     0.617123
26     2.NBT.B.5      314070        9030     0.759718
284    8.EE.C.7b      291914       16910     0.594142
197    6.RP.A.3a      287578       24364     0.612179
199  6.RP.A.3c-1      257786       13838     0.688688
260    7.RP.A.2c      228835       19741     0.587476
282     8.EE.B.6      208773       12618     0.578701

In [12]:
student_skills = student_skill_matrix(merged, min_attempts=5)
student_skills.head(10)

    student_id      skill  n_attempts mean_correct
0          124   7.RP.A.3          10          0.1
7         2246  7.RP.A.2a           5          0.0
8         2246   8.EE.B.6          28          0.8
10        2246  8.EE.C.7b           6          0.0
12        2246  8.F.B.4-3           7          0.0
15        2246  8.F.B.4-8           6          0.4
16        2246    8.G.A.4           8          1.0
19        2259   8.EE.B.5          13          0.5
23        2259  8.F.B.4-8           8     0.571429
25        2271   8.EE.B.6           5          0.5

In [13]:
difficulty_tbl = problem_difficulty_table(merged, min_attempts=20)
difficulty_tbl.head(10)

,problem_id,n_attempts,mean_correct,skill,source,problem_type
79586,1581958,21,0.0,None,['Textbook Content'],Exact Match (ignore case)
76642,1543800,103,0.0,['6.EE.A.2a'],['Utah Math'],Numeric Expression
59025,1415783,40,0.0,None,['Engage New York'],Algebraic Expression
111014,1917270,24,0.0,None,['Undetermined'],Exact Match (ignore case)
37546,1099693,21,0.0,None,['Undetermined'],Algebraic Expression
86951,1663590,38,0.0,None,['Textbook Content'],Exact Match (ignore case)
85364,1632942,20,0.0,None,['Textbook Content'],Number
18217,448683,21,0.0,['8.EE.C.8b'],['Undetermined'],Exact Match (case sensitive)
66583,1472047,27,0.0,"['8.F.A.1', '8.F.B.4-8']",['Utah Math'],Ungraded Open Response
21991,660214,20,0.0,['6.RP.A.3b'],['Skill Builder'],Algebraic Expression

In [14]:
content_dist = content_source_distribution(merged)
content_dist

                                       content_source  n_attempts
0                                 ['Engage New York']    10426991
1   ['Illustrative Mathematics', 'Open Up Resources']     3963013
2                        ['Illustrative Mathematics']      931348
3                                    ['Undetermined']      742905
4                                ['Textbook Content']      601003
5                                   ['Skill Builder']      350004
6                               ['Open Up Resources']      156705
7                               ['Certified Content']      131154
8                                       ['Utah Math']       75064
9                                     ['Eureka Math']       53956
10                                    ['State Tests']       13226
11               ['Certified Content', 'State Tests']        5366
12             ['Certified Content', 'Skill Builder']        3163
13               ['Engage New York', 'Skill Builder']        2210
14           ['Certified Content', 'Engage New York']         406